<!DOCTYPE html>
<html>
<head>
	<title>LoCal</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	<style type="text/css">

	* {

		font-family: Helvetica;
	}

	#myCanvas{
		border: .1px solid #d1d1d1;
		margin-top:20px;
		padding-left: 0;
		padding-right: 0;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}	

	#section1{

		background-color: black;

	}

	</style>

</head>
<body>

<div id="content" align="center">

    <h1>Personal Simulator</h1>

    <canvas id="myCanvas" width="1000px" height="500px">


    </canvas>
    <script type="text/javascript">

        var canvas = document.getElementById('myCanvas');
        var ctx = canvas.getContext("2d");

         var userid = '';




        ctx.lineWidth = "0.5";
        ctx.strokeStyle = "#ffca60";

        // draws map
        let getData = function() {
            $.get("api/grid", function (data, status) {
                for (let i = 0; i < 20; i++) {
                    for (let j = 0; j < 40; j++) {
                        let currObj = data[j][i];
                        if (currObj.type === "building") {
                            ctx.fillStyle = "#000e56";
                        } else if (currObj.type === "road" && currObj.currentCar != null) {
                            ctx.fillStyle = "#cc0022";
                        } else {
                            ctx.fillStyle = "#fff3db";

                        }
                        ctx.fillRect(5 + j * 20, 5 + i * 20, 13, 13);
                        ctx.rect(5 + j * 20, 5 + i * 20, 13, 13);
                        ctx.stroke();
                    }

                }
            });
        };

        let resetGrid = function() {
            ctx.clearRect(0, 0, canvas.width, canvas.height);
        };

        let updateGrid = function() {
            resetGrid();
            getData();
        };

        let getNewCar = function() {
            $.get("api/get-new", function (data, status) {
                updateGrid();
                $("#uuidField").innerHTML = data.uuid;

            })
        };


        //Added functionality to move the car

        let moveCarLeft = function() {

        	updateGrid();
        }

        let moveCarRight = function() {

        	updateGrid();
        }

        let moveCarUp = function() {

        	updateGrid();
        }

        let moveCarDown = function() {

        	updateGrid();
        }

        let getPosition = function() {
            $.get("api/get-position", function (data, status) {
                updateGrid();
                $("#uuidField").innerHTML = data.uuid;
                userCar = data;
            })
        };




    </script>
    <h3>Id is: </h3>
    <h4 id="uuidField">placeholder</h4>
    <button class="btn btn-primary" onclick="updateGrid()">Get Data</button>
    <button class="btn btn-primary" onclick="resetGrid()">Reset grid</button>
    <button class="btn btn-primary" onclick="getNewCar()">Add a new car</button>
    <button class="btn btn-primary" onclick="moveCarLeft()">Move to the left</button>
    <button class="btn btn-primary" onclick="moveCarRight()">Move to the right</button>
    <button class="btn btn-primary" onclick="moveCarUp()">Move upwards</button>
    <button class="btn btn-primary" onclick="moveCarDown()">Move downwards</button>
    

</div>
</body>
</html>