<!DOCTYPE html>
<html>
<head>
    <title>Local</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <style type="text/css">

        * {

            font-family: Helvetica;
        }

        #myCanvas {
            border: .1px solid #d1d1d1;
            margin-top: 20px;
            padding-left: 0;
            padding-right: 0;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }

        #content {
            padding: 20px;
        }

    </style>

    <link rel="icon" href="Lots of Cars.png">


</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="landing">LoCal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="">About</a>
            <a class="nav-item nav-link" href="car">Car Simulator</a>
            <a class="nav-item nav-link" href="er">ER Simulator</a>
        </div>
    </div>
</nav>

<div id="content" align="center">

    <h1>Overall Simulator</h1>

    <canvas id="myCanvas" width="1000px" height="500px">


    </canvas>
    <script type="text/javascript">

        let localCurrentER = null;

        let canvas = document.getElementById('myCanvas');
        let ctx = canvas.getContext("2d");


        ctx.lineWidth = "0.5";
        ctx.strokeStyle = "#ffca60";

        // draws map
        let getData = function () {
            $.get("api/grid", function (data, status) {
                for (let i = 0; i < 20; i++) {
                    for (let j = 0; j < 40; j++) {
                        let currObj = data[j][i];
                        if (currObj.type === "building") {
                            ctx.fillStyle = "#fce3bf";
                            ctx.fillRect(5 + j * 20, 5 + i * 20, 20, 20);

                        } else if (currObj.type === "road" && currObj.currentCar != null) {

                            if (currObj.currentCar.type === "car") {
                                ctx.fillStyle = "#0011ff";
                                ctx.fillRect(5 + j * 20+2, 5 + i * 20+2, 16, 16);

                            } else if (currObj.currentCar.type === "ervehicle") {
                                if (currObj.currentCar.uuid === localCurrentER.uuid) {
                                    ctx.fillStyle = "#b200ff";
                                    ctx.fillRect(5 + j * 20+2, 5 + i * 20+2, 16, 16);

                                } else {
                                    ctx.fillStyle = "#FF0000";
                                    ctx.fillRect(5 + j * 20+2, 5 + i * 20+2, 16, 16);

                                }


                            }
                        } else {
                            ctx.fillStyle = "#fcfcfc";
                            ctx.fillRect(5 + j * 20, 5 + i * 20, 20, 20);

                        }
                        // ctx.rect(5 + j * 20, 5 + i * 20, 13, 13);
                    }

                }
                ctx.stroke();

            });
        };

        let resetGrid = function () {
            ctx.clearRect(0, 0, canvas.width, canvas.height);
        };

        let updateGrid = function () {
            resetGrid();
            getData();
        };

        let getNewER = function () {
            if (localCurrentER === null) {
                $.get("api/get-new-ER", function (data, status) {
                    localCurrentER = data;
                    alert(`Got new ER vehicle: uuid is ${localCurrentER.uuid}`);
                    updateGrid();
                    $("#uuidField").innerHTML = data.uuid;
                })
            } else {
                alert(`you already have a ER vehicle with uuid ${localCurrentER.uuid}`)
            }
        };

        //Added functionality to move the car

        let moveCarLeft = function () {
            if (localCurrentER !== null) {
                $.get(`api/move-car?x=${localCurrentER.x}&y=${localCurrentER.y}&direction=left`, function (data) {
                    localCurrentER = data;
                    updateGrid();
                });

            } else {
                alert("No car");
            }
        };

        let moveCarRight = function () {
            if (localCurrentER !== null) {
                $.get(`api/move-car?x=${localCurrentER.x}&y=${localCurrentER.y}&direction=right`, function (data) {
                    localCurrentER = data;
                    updateGrid();
                });

            } else {
                alert("No car");
            }
        };

        let moveCarUp = function () {
            if (localCurrentER !== null) {
                $.get(`api/move-car?x=${localCurrentER.x}&y=${localCurrentER.y}&direction=up`, function (data) {
                    localCurrentER = data;
                    updateGrid();
                });

            } else {
                alert("No car");
            }
        };

        let moveCarDown = function () {
            if (localCurrentER !== null) {
                $.get(`api/move-car?x=${localCurrentER.x}&y=${localCurrentER.y}&direction=down`, function (data) {
                    localCurrentER = data;
                    updateGrid();
                });

            } else {
                alert("No car");
            }
        };

        document.onload = function () {
            updateGrid();
        };

        let reset = function () {
            $.get("api/reset-grid", function(data){});
            updateGrid();
        };

        let sentAlert = function () {
            $.get("api/send-alert", function () {
                console.log("sent an alert!");
                alert("Alert sent");
            })
        };

        let removeAlert = function () {
            $.get("api/remove-alert", function () {
                console.log("alert removed");
                alert("Alert removed");
            })
        }
    </script>
    <h3>Id is: </h3>
    <h4 id="uuidField">placeholder</h4>
    <button class="btn btn-primary" onclick="updateGrid()">Get Data</button>
    <button class="btn btn-primary" onclick="resetGrid()">Reset grid</button>
    <button class="btn btn-success" onclick="getNewER()">Add a new ervehicle</button>
    <button class="btn btn-primary" onclick="moveCarLeft()">Move to the left</button>
    <button class="btn btn-primary" onclick="moveCarRight()">Move to the right</button>
    <button class="btn btn-primary" onclick="moveCarUp()">Move upwards</button>
    <button class="btn btn-primary" onclick="moveCarDown()">Move downwards</button>
    <button class="btn btn-danger" onclick="reset()">Reset</button>

    <button class="btn btn-warning" onclick="sentAlert()">Send alert to cars</button>
    <button class="btn btn-secondary" onclick="sentAlert()">Remove alert</button>





</div>

</body>
</html>