<!DOCTYPE html>
<html>
<head>
    <title>Local</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <style type="text/css">

        * {

            font-family: Helvetica;
        }

        #myCanvas {
            border: .1px solid #d1d1d1;
            margin-top: 20px;
            padding-left: 0;
            padding-right: 0;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }

        #content {
            padding: 20px;
        }

    </style>

    <link rel="icon" href="Lots of Cars.png">


</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="">FastER</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="">About</a>
            <a class="nav-item nav-link" href="car">Car Simulator</a>
            <a class="nav-item nav-link" href="er">ER Simulator</a>
        </div>
    </div>
</nav>

<div id="content" align="center">

    <h1>Overall Simulator</h1>

    <canvas id="myCanvas" width="830px" height="430px">


    </canvas>
    <script type="text/javascript">

        let localCurrentCar = null;

        let canvas = document.getElementById('myCanvas');
        let ctx = canvas.getContext("2d");


        ctx.lineWidth = "0.5";
        ctx.strokeStyle = "#ffca60";

        // draws map
        let getData = function () {
            $.get("api/grid", function (data, status) {
                for (let i = 0; i < 20; i++) {
                    for (let j = 0; j < 40; j++) {
                        let currObj = data[j][i];
                        //building
                        if (currObj.type === "building") {
                            ctx.fillStyle = "#fce3bf";
                            ctx.fillRect(5 + j * 20, 5 + i * 20, 20, 20);

                            // console.log("building");
                        }
                        // road
                        else if (currObj.type === "road") {
                            // console.log("road");

                            // if its a car
                            if (currObj.currentCar !== null) {
                                if (currObj.currentCar.type === "car") {
                                    if (currObj.currentCar.uuid === localCurrentCar.uuid) {
                                        // if car displayed is the local car
                                        // console.log("current car");
                                        ctx.fillStyle = "#7CFC00";

                                    } else {
                                        // console.log("other car");
                                        ctx.fillStyle = "#0011ff";
                                    }
                                }
                                // if its an erv
                                else if (currObj.currentCar.type === "ervehicle") {
                                    // console.log("ervehicle");
                                    ctx.fillStyle = "#FF0000";
                                }
                                ctx.fillRect(5 + j * 20 +2, 5 + i * 20 +2, 16, 16);

                            } else {
                                // console.log("nothing");
                                ctx.fillStyle = "#fcfcfc";
                                ctx.fillRect(5 + j * 20, 5 + i * 20, 20, 20);

                            }


                        }
                    }

                }

                ctx.stroke();


            })
        };

        let resetGrid = function () {
            ctx.clearRect(0, 0, canvas.width, canvas.height);
        };

        let updateGrid = function () {
            resetGrid();
            getData();
        };

        let getNewCar = function () {
            if (localCurrentCar === null) {
                $.get("api/get-new-car", function (data, status) {
                    localCurrentCar = data;
                    alert(`Got new car: uuid is ${localCurrentCar.uuid}`);
                    updateGrid();
                    $("#uuidField").innerHTML = data.uuid;
                })
            } else {
                alert(`you already have a car with uuid ${localCurrentCar.uuid}`)
            }

        };


        //Added functionality to move the car

        let moveCarLeft = function () {
            if (localCurrentCar !== null) {
                $.get(
                    `api/move-car?x=${localCurrentCar.x}&y=${localCurrentCar.y}&direction=left`,
                    function (data) {
                    localCurrentCar = data;
                    updateGrid();
                });

            } else {
                alert("No car");
            }
        };

        let moveCarRight = function () {
            if (localCurrentCar !== null) {
                $.get(
                    `api/move-car?x=${localCurrentCar.x}&y=${localCurrentCar.y}&direction=right`,
                    function (data) {
                    localCurrentCar = data;
                    updateGrid();
                });

            } else {
                alert("No car");
            }
        };

        let moveCarUp = function () {
            if (localCurrentCar !== null) {
                $.get(
                    `api/move-car?x=${localCurrentCar.x}&y=${localCurrentCar.y}&direction=up`,
                    function (data) {
                    localCurrentCar = data;
                    updateGrid();
                });

            } else {
                alert("No car");
            }
        };

        let moveCarDown = function () {
            if (localCurrentCar !== null) {
                $.get(
                    `api/move-car?x=${localCurrentCar.x}&y=${localCurrentCar.y}&direction=down`,
                    function (data) {
                    localCurrentCar = data;
                    updateGrid();
                });

            } else {
                alert("No car");
            }
        };
        document.onload = function () {
            updateGrid();
        };

        let reset = function () {
            $.get("api/reset-grid", function(data){});
            updateGrid();
        };

        setInterval(function(){
            console.log("Listening for ambulance");
            $.get("api/listen-alert", function(data){
                if (data === true) {
                    alert("Move out of the way! An ambulance is coming!");
                    let elm = $("#clearLine");

                    elm.text("Clear the center line!");
                    elm.attr("style",'color:#FF0000');


                } else {
                    let elm = $("#clearLine");
                    elm.text("No alerts.");
                    elm.attr("style","");
                }
            })
        }, 2500)
    </script>
    <h1 id="clearLine" class="text-bold hidden" style="color:#000000">No alerts.</h1>

    <button class="btn btn-primary" onclick="updateGrid()">Get Data</button>
    <button class="btn btn-primary" onclick="resetGrid()">Reset grid</button>
    <button class="btn btn-success" onclick="getNewCar()">Add a new car</button>
    <button class="btn btn-primary" onclick="moveCarLeft()">Move to the left</button>
    <button class="btn btn-primary" onclick="moveCarRight()">Move to the right</button>
    <button class="btn btn-primary" onclick="moveCarUp()">Move up</button>
    <button class="btn btn-primary" onclick="moveCarDown()">Move down</button>

    <button class="btn btn-danger" onclick="reset()">Reset</button>



</div>

</body>
</html>