<!DOCTYPE html>
<html>
<head>
	<title></title>

	<style type="text/css">
	#myCanvas{
		border: 1px solid black;
	}	
	</style>

</head>
<body>
	<canvas id="myCanvas" width="600px" height="400px">
		
	</canvas>

	<script type="text/javascript">
		
		var canvas = document.getElementById('myCanvas');
		var ctx = canvas.getContext("2d");

		var i;
		var j;

		ctx.lineWidth = "1";
		ctx.strokeStyle = "grey";

		for (i=0;i<4;i++){
			for (j=0;j<6;j++){
				ctx.rect(20+j*80, 20+i*80, 50, 50)
			}
		}

		ctx.stroke()


	</script>

</body>
</html>